{% extends "shop/base.html" %}

{% block title %}<title>Shop Homepage</title>{% endblock %}

{% block category %}

{% for category in category_list %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ category.name }}</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">All Products</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
        <li><hr class="dropdown-divider" /></li>
        {% for subcategory in category.subcategories %}
        <li><a class="dropdown-item" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}

{% endblock %}

{% block breadcrumb %}{% endblock %}