<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
    </head>
    <body>
        <a href="{% url 'shop:home' %}">catalog </a>
        <a href="{{ category.category.get_absolute_url }}">{{ category.category|default_if_none:""|lower }} </a>
        {{ view.kwargs.category|lower }}

        <dl>
            <dt><h4>{{ category.name }}</h4></dt>
            {% for subcategory in category.subcategories %}
            <dd><a href="{{ subcategory.get_absolute_url }}">
                {{ subcategory.name }}</a>
            </dd>
            {% endfor %}
        </dl>
        <ul>
            {% for product in product_list %}
            <li><a href="{{ product.get_absolute_url }}">
                {{ product.category }} {{ product.name }}
                {{ product.marking }}
                </a>
                <!--
                <img src="{{ product.image.url }}">
                -->
                <p>
                    {% if product.min_discount_price == product.max_discount_price %}
                        {% if product.sale is not None %}
                        <mark>Sale</mark> <s>{{ product.min_price }}</s>
                        {% endif %}
                    {% else %}
                        {{ product.min_discount_price }} -
                    {% endif %}
                    {{ product.max_discount_price }}
                </p>
                {{ product.rating|default_if_none:"0"|floatformat:1 }}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
