
{% block categories %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
    {% url 'shop:home' as home_url %}
    <li class="nav-item">
        <a class="nav-link{% if home_url == view.request.path_info %} active{% endif %}"
           aria-current="page" href="{{ home_url }}">Home
        </a>
    </li>
    {% for category in catalog %}
    {% url 'shop:category' category.name|lower as category_url %}
    <li class="nav-item dropdown">
        <a class="nav-link{% if category == view.kwargs.category %} active{% endif %} dropdown-toggle"
           aria-current="page" id="navbarDropdown" href="{{ category_url }}" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">{{ category.name }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ category_url }}">All Products</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{{ category_url|add:'new/' }}">New Arrivals</a></li>
            <li><a class="dropdown-item" href="{{ category_url }}popular/">Popular Items</a></li>
            <li><hr class="dropdown-divider" /></li>
            {% for subcategory in category.subcategories %}
            <li>
                <a class="dropdown-item" href="{{ category_url }}{{ subcategory.name|lower }}/">
                    {{ subcategory.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock categories %}

{% block cart %}

<form class="d-flex">
    <button class="btn btn-outline-dark" type="submit">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">{{ num_in_cart }}</span>
    </button>
</form>

{% endblock cart %}
